body
{
  background : url(background/key.jpg);
  color:white;
  margin-right: 5px;
  font-size:16px;
  font-family: "Helvetica",serif;
  margin-left: 380px;
  margin-top: 275px;
}
 #menu{
text-align: center;
}
ul, #menu, li {
  display: play:inline;
}
ul, #menu, li, a {
/*  background-color: black; */
  color: white;
  padding: 10 px 20 px;
  text-decoration: none;
}
ul, #menu, li, a: hover {
/* background-color: red; */
}
.imgright{
  float: right;
  margin: 0 0 px 0 0;
}
h1 { color: #c9d0d4;
   font-family: 'Times new roman', serif;
   padding: 0 0 20px;
   font-size: 40px;
   font-weight: 150;
   line-height: 40px;
   letter-spacing: 1px;
 }
h2 { color: white;
font-family:"Times new roman", serif;
padding: 0 0 20px;
font-size: 20px;
font-weight: 150;
line-height: 40px;
letter-spacing: 1px;
 }


/* Source : Css-tricks */

 .button {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#0d3e5e), to(#65a9d7));
   background: -webkit-linear-gradient(top, #0d3e5e, #65a9d7);
   background: -moz-linear-gradient(top, #0d3e5e, #65a9d7);
   background: -ms-linear-gradient(top, #0d3e5e, #65a9d7);
   background: -o-linear-gradient(top, #0d3e5e, #65a9d7);
   padding: 6.5px 13px;
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   border-radius: 40px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 19px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #001421;
   background: #001421;
   color: #ccc;
   }
.button:active {
   border-top-color: #000e17;
   background: #000e17;
   }
