body {
  background-color:#0B173B;
  color:turquoise;
  margin-right: 5px;
  font-size:16px;
  font-family: "Helvetica",sans-serif;
  margin-left: 10px;
}
 #menu{
text-align: center;
}
ul, #menu, li {
  display: play:inline;
}
ul, #menu, li, a {
  background-color: black;
  color: white;
  padding: 10 px 20 px;
  text-decoration: none;
}
ul, #menu, li, a: hover {
  background-color: red;
}

h1 { color: #c9d0d4;
   font-family: 'Times new roman', serif;
   padding: 0 0 20px;
   font-size: 40px;
   font-weight: 150;
   line-height: 40px;
   letter-spacing: 1px;
 }
 footer {
   background-color:#0B173B;
   color:white;
   margin-right: 5px;
   font-size:16px;
   font-family: "Times New Roman",sans-serif;
   margin-left: 10px;
 }

 .button {
   border-top: 1px solid #0326a3;
   background: #000000;
   background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000));
   background: -webkit-linear-gradient(top, #000000, #000000);
   background: -moz-linear-gradient(top, #000000, #000000);
   background: -ms-linear-gradient(top, #000000, #000000);
   background: -o-linear-gradient(top, #000000, #000000);
   padding: 7px 14px;
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   border-radius: 40px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 16px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #0c1040;
   background: #0c1040;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
